.link1 { grid-area: ggbc;}
.link2 { grid-area: bz;}
.link3 { grid-area: fp;}


.grid-container {
    display: grid;
    grid-template-areas:
      'ggbc ggbc ggbc'
      'bz bz bz'
      'fp fp fp';
    gap: 20px;
    background-color: #2196F3;
    padding: 20px;
  }

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 30px 0;
    font-size: 30px;
}
.grid-container > div:hover{
    background-color: #2196F3;
    
}